{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
      "__DEV__": false,
    },
    "rules": {
      "global-require": ["off"],
      "arrow-parens": ["error", "always"],
      "no-param-reassign": ["error", { "props": false }],
      "class-methods-use-this": ["off"],
      "no-underscore-dangle": ["off"],
      "comma-dangle": ["error", {"functions": "never"}]
    },
}
